<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>MonopolyServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MonopolyServlet</servlet-name>
    <servlet-class>com.usaa.monopoly.web.Monopoly</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonopolyServlet</servlet-name>
    <url-pattern>/monopoly</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Board</servlet-name>
  	<jsp-file>/BoardDisplay.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Board</servlet-name>
  	<url-pattern>/board/</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Game</servlet-name>
  	<servlet-class>com.usaa.monopoly.web.GameServelet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Game</servlet-name>
  	<url-pattern>/game/</url-pattern>
  </servlet-mapping>
</web-app>